html {
    background-color: #030C22;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    background-image: url('../src/images/nasa_2012_night_scaleblur.png');
} 
.green-highlight {
  background-color: #27AE60 !important;
  color: #ffffff !important;
}
.red-highlight {
  background-color: #C0392B !important;
  color: #ffffff !important;
}

.blur {
  -webkit-filter: blur(10px);
}
